<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<input type="button" id="test" value="test"/>
<input type="button" id="login" value="login"/>

<script type="text/javascript" src="/js/jquery/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {

        var token = "";
        $("#login").click(function () {

            var data = {
                username: "admin",
                password: "admin"
            };
            $.ajax({
                type: "POST",
                url: "http://192.168.0.104:8080/api/login",
                data: data,
                async: false,
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(XMLHttpRequest.status + "," + XMLHttpRequest.readyState + "," + textStatus);
                },
                success: function (data) {
                    token = JSON.parse(data).token;
                    //alert(JSON.parse(data).token);
                }
            });
        });

        $("#test").click(function () {

            $.ajax({
                type: "GET",
                url: "http://192.168.0.104:8080/api/demo/list",
                headers: {'Authorization': token},
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(XMLHttpRequest.status + "," + XMLHttpRequest.readyState + "," + textStatus);
                },
                success: function (data) {
                    alert(data);
                }
            });
        });
    });
</script>
</body>
</html>