<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="content" id="content"></div>
<input type="button" id="test" value="test"/>
<input type="button" id="login" value="login"/>

<script type="text/javascript" src="/js/jquery/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {

        var token = "";
        $("#login").click(function () {

            var data = {
                username: "admin",
                password: "admin"
            };
            $.ajax({
                type: "POST",
                //url: "http://192.168.0.104:8080/api/login",
                url: "/api/login",
                data: data,
                async: false,
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(XMLHttpRequest.status + "," + XMLHttpRequest.readyState + "," + textStatus);
                },
                success: function (data) {
                    token = JSON.parse(data).token;
                    //alert(JSON.parse(data).token);
                }
            });
        });

        $("#test").click(function () {

            var temp = "";
            $.ajax({
                type: "GET",
                url: "/api/demo/list",
                /*beforeSend: function (request) {
                    request.setRequestHeader("Authorization", token);
                },*/
                dataType: 'JSON',
                async: false,
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    //alert(XMLHttpRequest.status + "," + XMLHttpRequest.readyState + "," + textStatus);
                    parent.location.href="/login";
                },
                success: function (data) {


                }
            });
        });
    });
</script>
</body>
</html>